:root {
  --bg: #0f172a;
  --cardbg: #171e2d;
  --accent: #3b82f6;
  --accentsoft: rgba(59, 130, 246, 0.15);
  --textmain: rgb(241, 241, 241);
  --textmuted: #9ca3af;
  --danger: #ef4444;
  --success: #22c55e;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}


header{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 20px;
}

body {
  background: var(--bg);
  color: var(--textmain);
  padding: 16px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.navbar ul{
    list-style-type: none;
    background-color: #0f1625;
    padding: 0px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(221, 42%, 20%);
}


.layout{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  align-items: center;
  margin-top: 20px;
}
.ava{
  width: 100%;
  max-width: 280px;
  border-radius: 15px;
  border: 2px solid rgba(255,255,255,0.2);
}
p{
  line-height: 1.6;
  font-size: 1rem;
}
.social{
  height: 30px;
  margin-right: 12px;
  background: none;
  filter: invert(90%) brightness(100%);
  transition: 0.2s;
}
.social:hover {
  filter: invert(100%);
}
.icon{
  text-align: center;
  margin-top: 20px;
}

.content{
  padding: 10px 25px;
  text-align: left;
}

#background{
  color: rgb(253, 245, 245);
  text-align: center;
}
html {
    overflow-y: scroll;
}