:root {
  --bg: #0f172a;
  --cardbg: #171e2d;
  --accent: #3b82f6;
  --accentsoft: rgba(59, 130, 246, 0.15);
  --textmain: #e5e7eb;
  --textmuted: #9ca3af;
  --danger: #ef4444;
  --success: #22c55e;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

header{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 20px;
}


body {
  background: var(--bg);
  color: var(--textmain);
  padding: 16px;
}

.navbar ul{
    list-style-type: none;
    background-color: #0f1625;
    padding: 0px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(221, 42%, 20%);
}

.container {
  max-width: 1200px;
  margin: auto;
}

#top {
  color: #86bcff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.connect {
  padding: 4px 10px;
  border-radius: 999px;
  border: 1px solid var(--accentsoft);
  font-size: 0.8rem;
  color: var(--accent);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 12px;
  margin-bottom: 16px;
}


.card {
  background: var(--cardbg);
  padding: 14px;
  border-radius: 12px;
}


.cardTitle {
  font-size: 0.8rem;
  color: var(--textmuted);
  text-transform: uppercase;
  margin-bottom: 4px;
}


.cardValue {
  font-size: 1.4rem;
  font-weight: 600;
}


.grid {
  display: grid;
  gap: 16px;
}


.grid2 {
  grid-template-columns: 2fr 1.4fr;
}


.chartCard, .tableCard {
  background: #111827;
  padding: 12px;
  border-radius: 12px;
}

.mapCard{
  background-color: #111827;
  height: 280px;
}

.sectionTitle {
  margin-bottom: 6px;
  color: var(--textmuted);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.85rem;
}

th, td {
  padding: 6px 8px;
}

tbody tr:nth-child(odd) {
  background: rgba(255,255,255,0.03);
}

#map {
  width: 100%;
  height: 260px;
  border-radius: 10px;
}
